DB_HOST=resolvehub-db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=resolvehub
SECRET_KEY=SUPER_SECRET_KEY
SMTP_HOST=example-smtp.mail.com
SMTP_PORT=465
SMTP_USER=resolvehub@mail.com
SMTP_PASSWORD=<SECRET_PASSWORD>
IMAP_HOST=example-imap.mail.com
IMAP_PORT=993
IMAP_USER=resolvehub@mail.com
IMAP_PASSWORD=<SECRET_PASSWORD>
EMAIL_FOR_TESTS=<RECIEVER_EMAIL_FOR_TESTS>
API_URL=http://resolvehub:8000/api/v1
